.panel.panel-flat
  .panel-heading
    %h5.panel-title
      Reply message
  .panel-body
    .row
      = link_to messages_path, class: 'btn btn-primary pull-right back-btn' do
        %i.icon-circle-left2.position-left
        Back
      = link_to @message, class: 'btn btn-primary pull-right' do
        %span.glyphicon.glyphicon-info-sign
        Show
    = render 'form'