.panel.panel-flat
  .panel-heading
    %h5.panel-title.text-center
      User Informations

  .panel-body
    .row
      = link_to users_path, class: 'btn btn-primary pull-right back-btn' do
        %i.icon-circle-left2.position-left
        Back
      = link_to edit_user_path(@user), class: 'btn btn-primary pull-right' do
        %span.glyphicon.glyphicon-pencil
        Edit
    %dl.dl-horizontal
      %dt Email:
      %dd= @user.email
