.panel.panel-flat
  .panel-heading
    %h5.panel-title Agent Information

  .panel-body
    .row
      = link_to agents_path do
        %button.btn.btn-primary.pull-right.back-btn
          Back
    .table-responsive.content-group
      %table.table.table-framed
        %thead
          %tr
            %th.col-xs-3 Agent information

            %th Value
        %tbody
          - @agent.attributes.each do |attr_name, attr_value|
            %tr
              %td
                %span.text-semibold= attr_name.humanize
              %td= attr_value