<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @agent_name %>,</p>
    <p>
      I'm a buyer interested in <b><%= @property_address %></b>.
      <br />
      Is it still available? Can you show me the house and help me make an offer?. I'm going to send you a text message as well.
    </p>
    <p>
      Thanks,
      <br />
      Billy
    </p>
  </body>
</html>