.panel.panel-flat
  .panel-heading
    %h5.panel-title Report Information

  .panel-body
    .row
      = link_to reports_path, class: 'btn btn-primary pull-right back-btn' do
        %i.icon-circle-left2.position-left
        Back
    .table-responsive.content-group
      %table.table.table-framed
        %thead
          %tr
            %th.col-xs-3 Report information

            %th Value
        %tbody
          %tr
            %td
              %span.text-semibold Result
            %td= @report.result
          %tr
            %td
              %span.text-semibold Raw Data
            %td
              = @report.raw_data